@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.button {
  padding: map-get($spacing, md);
  background: map-get($colors, primary);
  color: map-get($colors, white);
  border: none;
  cursor: pointer;

  &:hover {
    background: darken(map-get($colors, primary), 10%);
  }

  @include breakpoint(md) {
    padding: map-get($spacing, lg);
  }
}