@import '@fortawesome/fontawesome-free/css/all.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #E8EDE8;
  --text-color: #5F8A5C;
  --nav-bg: #E8EDE8;
  --card-bg: #E8EDEA;
  --card-title: #5C8A6C;
  --card-sub-title: #343D37;
  --accent: #3b82f6;  
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font-size: 1.25vw;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


.dark {
  --bg-color: #0f172a;
  --text-color: #f1f5f9;
  --nav-bg: #0555bd;
  --card-bg: #0555bd;
  --accent: #60a5fa;
}

body {
  @apply col-x-center min-h-screen relative ;

  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

  #social .button-icon {
    filter: invert(1) brightness(2);
  }


*{
  /* outline: red 1px solid; */
  
}


.fa-facebook-square, .fa-twitter-square {
  @apply hover:text-info;
  
}
.fa-instagram {
  @apply hover:text-danger
}
.navbar{
  background-color: var(--nav-bg);
}
.card{
  @apply cursor-pointer;

  background-color: var(--card-bg);
}
.card-title{
  
  color: var(--card-title);
}
.card-sub-title{

  color: var(--card-sub-title);
}

#menu-btn{
  @apply dark:text-white
}

.drop-menus a {
  @apply hover:bg-gray-100 dark:hover:bg-slate-300
}